body
{
    background-color: rgb(37, 16, 58);
    font-family: Arial;
}

.main
{
    display: grid;

    place-items: center;
}

.web-title
{
    color: rgb(255, 230, 194);
    display: grid;
    justify-content: center;
    font-size: 30px;
}

.calculator
{
    border-width: 1px;  
    border-style: double;  
    border-radius: 20px;
    height: 750px;
    width: 500px;
    margin-top: 100px;
}

.calculator-io
{
    background-color: rgb(20, 20, 20);
    border-width: 1px;  
    border-style: double;  
    border-radius: 20px 20px 0 0;
    height: 120px;
}

.calculator-buttons
{
    background-color: rgb(53, 53, 53);
    border-width: 1px;  
    border-style: double;  
    border-radius: 0 0 20px 20px;
    height: 630px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.io-text
{
    color:aliceblue;
    font-size: 55px;
}

.calc-button
{
    background-color: rgb(230, 170, 60);
    font-size: 40px;
    border-radius: 60px;
    margin: 10px;
    border: none;
}

.calc-button:hover
{
    background-color: rgb(253, 203, 109);
}

.comment-author,
.comment-itself
{
    color: aliceblue;
    font-size: 50px;
    width: 1300px;
    text-align: center;
}

.comment-author
{
    margin-top: 100px;
}

.comment-itself
{
    margin-top: -30px;
}